<!-- Text for Index Page -->

{% extends "base.html" %}
{% set authenticated = isAuthenticated %}

{% block btitle %}
	Unibid
{% endblock %}

{% block page_content %}
<div class="jumbotron text-center" style = "background-color: aliceblue;" >
		<img src="https://drive.google.com/file/d/1xr9tvcoeHWperAPdZ7tvG0w0NfKfla8E"></img>
    <h1 style = "font-family: helvetica">Welcome to Unibid!</h1>
    <h2 style = "font-family: helvetica">A platform to make your university experience better!</h2>
</div>
{% endblock %}
